@model Presentation.Models.CreateTicketViewModel

@{
    ViewData["Title"] = "Buy Ticket";
}

<h1>@ViewData["Title"]</h1>

<form action="/Tickets/Buy" method="post">
    @Html.ValidationSummary(false, "")
   <input type="hidden" name="EventFK" value="@Model.EventFK" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdCard" class="control-label"></label>
        <input asp-for="IdCard" class="form-control" />
        <span asp-validation-for="IdCard" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ValidatedQty" class="control-label"></label>
        <input asp-for="ValidatedQty" type="number" class="form-control" />
        <span asp-validation-for="ValidatedQty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Buy Ticket" class="btn btn-primary" />
    </div>
</form>
